In [2]:
%matplotlib inline
#*******************************************************************************
# Dependencies and Setup
#*******************************************************************************
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
#from config import api_key

from pprint import pprint

#*******************************************************************************
# Load Data Files
#*******************************************************************************
movies_metadata_to_load = "Movie_Datasets/movies_metadata.csv"
ratings_to_load = "Movie_Datasets/ratings.csv"

#merge_table.head()
print("testing")
#ratings_df.head()
#movies_metadata_df.head()

testing

In [3]:

#*******************************************************************************
# Read the Movie and Rating Data from the files
#*******************************************************************************
movies_metadata_df = pd.read_csv(movies_metadata_to_load)

#*******************************************************************************
# Combine the data into a single dataset
#*******************************************************************************
#merge_table = pd.merge(movies_metadata_df, ratings_df, on="?????")

#*******************************************************************************
# Display the data table for preview
#*******************************************************************************
#merge_table.head()
print("testing")
#ratings_df.head()
#movies_metadata_df.head()

testing

C:\Users\rodsk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:

#*******************************************************************************
# Read the Movie and Rating Data from the files
#*******************************************************************************
ratings_df = pd.read_csv(ratings_to_load)

#*******************************************************************************
# Combine the data into a single dataset
#*******************************************************************************
#merge_table = pd.merge(movies_metadata_df, ratings_df, on="?????")

#*******************************************************************************
# Display the data table for preview
#*******************************************************************************
#merge_table.head()
print("testing")
#ratings_df.head()
#movies_metadata_df.head()

testing

In [5]:
#movies_metadata_df.head(3)
movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [6]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [7]:
# Urban Data - Average Fare by City
ave_movie_rating = ratings_df.groupby(["movieId"]).mean()
ave_movie_rating.head()

                userId    rating     timestamp
movieId
1        135121.043616  3.888157  1.113440e+09
2        134877.953761  3.236953  1.088621e+09
3        136520.452733  3.175550  9.661124e+08
4        136249.536062  2.875713  9.390243e+08
5        135293.275855  3.079565  9.896788e+08