In [1]:
%matplotlib inline
#*******************************************************************************
# Dependencies and Setup
#*******************************************************************************
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
#from config import api_key

from pprint import pprint

#*******************************************************************************
# Load Data Files
#*******************************************************************************
movies_metadata_to_load = "Movie_Datasets/movies_metadata.csv"
ratings_to_load = "Movie_Datasets/ratings.csv"

print("testing")

testing

In [2]:

#*******************************************************************************
# Read the Movie Data from the file
#*******************************************************************************
movies_metadata_df = pd.read_csv(movies_metadata_to_load, low_memory=False)

print("testing")

testing

In [3]:

#*******************************************************************************
# Read the Rating Data from the file
#*******************************************************************************
ratings_df = pd.read_csv(ratings_to_load)

print("testing")

testing

In [4]:
movies_metadata_df["id"].head()

0      862
1     8844
2    15602
3    31357
4    11862
Name: id, dtype: object

In [5]:
movies_metadata_df.shape

(45466, 24)

In [6]:
ratings_df["movieId"].head()

0     110
1     147
2     858
3    1221
4    1246
Name: movieId, dtype: int64

In [7]:
# Convert the Age to a number
#movies_metadata_df[movies_metadata_df.id.apply(lambda x: x.isnumeric())]
#movies_metadata_df["id"] = pd.to_numeric(movies_metadata_df["id"])
#movies_metadata_df[pd.to_numeric(movies_metadata_df['id'], errors='coerce').notnull()].head()
num_movies_metadata_df = (movies_metadata_df.drop("id", axis=1).join(movies_metadata_df["id"].apply(pd.to_numeric, errors='coerce')))
num_movies_metadata_df["id"] = pd.to_numeric(num_movies_metadata_df["id"])
#movies_metadata_df["id"].head()

In [8]:
num_movies_metadata_df.shape

(45466, 24)

In [9]:
num_movies_metadata_df["id"].head()

0      862.0
1     8844.0
2    15602.0
3    31357.0
4    11862.0
Name: id, dtype: float64

In [10]:
#movies_metadata_df.head(3)
#print out the columns in the movies_metadata_df dataframe
num_movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'id'],
      dtype='object')

In [11]:
#print first a few of the rows from the ratings_df dataframe
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [12]:
# Group the movie rating data by movie and average the ratings provided by the individual users.
ave_movie_rating = ratings_df.groupby(["movieId"]).mean()
ave_movie_rating.head()

                userId    rating     timestamp
movieId
1        135121.043616  3.888157  1.113440e+09
2        134877.953761  3.236953  1.088621e+09
3        136520.452733  3.175550  9.661124e+08
4        136249.536062  2.875713  9.390243e+08
5        135293.275855  3.079565  9.896788e+08

In [13]:
print(f"There are {ave_movie_rating.shape[0]} movies included in this dataset.")

There are 45115 movies included in this dataset.

In [14]:
renamed_movies_metadata_df = num_movies_metadata_df.rename(columns={"id":"movieId"})
renamed_movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'movieId'],
      dtype='object')

In [15]:
renamed_movies_metadata_df["movieId"].describe()

count     45463.000000
mean     108359.918813
std      112460.749278
min           2.000000
25%       26449.500000
50%       60003.000000
75%      157328.000000
max      469172.000000
Name: movieId, dtype: float64

In [16]:
ave_movie_rating.head()

                userId    rating     timestamp
movieId
1        135121.043616  3.888157  1.113440e+09
2        134877.953761  3.236953  1.088621e+09
3        136520.452733  3.175550  9.661124e+08
4        136249.536062  2.875713  9.390243e+08
5        135293.275855  3.079565  9.896788e+08

In [17]:
merge_table = pd.merge(renamed_movies_metadata_df, ave_movie_rating, on="movieId")
merge_table.head(2)

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,video,vote_average,vote_count,movieId,userId,rating,timestamp
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,Released,NaN,Toy Story,False,7.7,5415.0,862.0,133828.86631,3.598930,9.727758e+08
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,8844.0,138698.00813,3.760163,1.268060e+09

In [18]:
merge_table.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'movieId', 'userId', 'rating',
       'timestamp'],
      dtype='object')

In [19]:
trimmed_merge_table = merge_table[["budget", "genres", "imdb_id", "production_countries", "release_date", "runtime", 
                                   "revenue", "title", "vote_average", "vote_count", "movieId", "rating", "popularity"]]

In [20]:
trimmed_merge_table.count()

budget                  7569
genres                  7569
imdb_id                 7567
production_countries    7569
release_date            7561
runtime                 7550
revenue                 7569
title                   7569
vote_average            7569
vote_count              7569
movieId                 7569
rating                  7569
popularity              7569
dtype: int64

In [21]:
trimmed_merge_table = trimmed_merge_table.dropna(how='any')

In [22]:
trimmed_merge_table.count()

budget                  7542
genres                  7542
imdb_id                 7542
production_countries    7542
release_date            7542
runtime                 7542
revenue                 7542
title                   7542
vote_average            7542
vote_count              7542
movieId                 7542
rating                  7542
popularity              7542
dtype: int64

In [23]:
trimmed_merge_table.head()

,budget,genres,imdb_id,production_countries,release_date,runtime,revenue,title,vote_average,vote_count,movieId,rating,popularity
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,373554033.0,Toy Story,7.7,5415.0,862.0,3.598930,21.946943
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,262797249.0,Jumanji,6.9,2413.0,8844.0,3.760163,17.015539
2,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",tt0113277,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,170.0,187436818.0,Heat,7.7,1886.0,949.0,3.905544,17.924927
3,58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",tt0113189,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-11-16,130.0,352194034.0,GoldenEye,6.6,1194.0,710.0,2.740334,14.686036
4,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",tt0112760,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-12-22,119.0,10017322.0,Cutthroat Island,5.7,137.0,1408.0,3.710181,7.284477

In [24]:
total_num_movies = trimmed_merge_table.shape[0]
print(f"There are {total_num_movies} movies included in this reduced dataset.")

There are 7542 movies included in this reduced dataset.

In [25]:
rating_success = 2.5

successful_movies_df = trimmed_merge_table.loc[trimmed_merge_table["rating"] >= rating_success, :]
print(f"There are {successful_movies_df.shape[0]} successful movies with average ratings greater than {rating_success}")
percentage_successful_movies = (successful_movies_df.shape[0]/total_num_movies) * 100
#formatted_successful_movies = percentage_successful_movies.map("{:.2f}%".format)
#formatted_successful_movies = str(percentage_successful_movies)
formatted_successful_movies = "{:.2f}%".format(float(percentage_successful_movies))

print(f"The percentage of successful movies is {formatted_successful_movies}")
#print(percentage_successful_movies)

There are 6569 successful movies with average ratings greater than 2.5
The percentage of successful movies is 87.10%

In [26]:
formatted_successful_movies = "{:.2f}%".format(float(percentage_successful_movies))
print(formatted_successful_movies)

87.10%

In [27]:
# trimmed_merge_table["budget"] = pd.to_numeric(trimmed_merge_table["budget"])
# budget_not_0_movies_df = trimmed_merge_table.loc[trimmed_merge_table["budget"] > 0, :]
# budget_not_0_movies_df.shape

In [28]:
# trimmed_merge_table["revenue"] = pd.to_numeric(trimmed_merge_table["revenue"])
# budget_not_0_movies_df = trimmed_merge_table.loc[trimmed_merge_table["revenue"] > 0, :]
# budget_not_0_movies_df.shape

In [29]:
# trimmed_merge_table["popularity"] = pd.to_numeric(trimmed_merge_table["popularity"])
# budget_not_0_movies_df = trimmed_merge_table.loc[trimmed_merge_table["popularity"] > 0, :]
# budget_not_0_movies_df.shape

In [30]:
# trimmed_merge_table["popularity"] = pd.to_numeric(trimmed_merge_table["popularity"])
# budget_not_0_movies_df = trimmed_merge_table.loc[trimmed_merge_table["popularity"] > 0, :]
# budget_not_0_movies_df.shape

In [31]:
# trimmed_merge_table["vote_count"] = pd.to_numeric(trimmed_merge_table["vote_count"])
# budget_not_0_movies_df = trimmed_merge_table.loc[trimmed_merge_table["vote_count"] > 0, :]
# budget_not_0_movies_df.shape

In [33]:
# trimmed_merge_table["rating"] = pd.to_numeric(trimmed_merge_table["rating"])
# budget_not_0_movies_df = trimmed_merge_table.loc[trimmed_merge_table["rating"] > 0, :]
# budget_not_0_movies_df.shape

In [34]:
#successful_movies_df["runtime"] = pd.to_numeric(successful_movies_df["runtime"])
trimmed_runtime_movies_df = successful_movies_df.loc[successful_movies_df["runtime"] < 300, :]
trimmed_runtime_movies_df.shape

(6554, 13)

In [35]:
# Create the bins in which Data will be held
# Bins are 0, 60, 70, 80, 90, 100
bins = [0, 50, 100, 150, 200, 250, 900]

# Create the names for the four bins
group_names = ["Xshort", "short", "med", "long", "Xlong", "XXlong" ]

In [36]:
trimmed_runtime_movies_df["Runtime Breakdown"] = pd.cut(trimmed_runtime_movies_df["runtime"], bins, labels=group_names)
trimmed_runtime_movies_df.head(1)

C:\Users\rodsk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,budget,genres,imdb_id,production_countries,release_date,runtime,revenue,title,vote_average,vote_count,movieId,rating,popularity,Runtime Breakdown
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,373554033.0,Toy Story,7.7,5415.0,862.0,3.59893,21.946943,short

In [41]:
ratings_vote_count_df = trimmed_runtime_movies_df[["rating", "runtime", "Runtime Breakdown"]]
ratings_vote_count_df = ratings_vote_count_df.groupby("Runtime Breakdown")
ratings_vote_count_df.mean()

                     rating     runtime
Runtime Breakdown
Xshort             3.317535   21.930556
short              3.295232   87.898969
med                3.301161  115.549511
long               3.333776  170.341014
Xlong              3.445544  221.083333
XXlong             3.392313  270.571429

In [42]:
ratings_vote_count_df = trimmed_runtime_movies_df[["rating", "runtime", "Runtime Breakdown"]]
ratings_vote_count_df = ratings_vote_count_df.groupby("Runtime Breakdown")
ratings_vote_count_df.count()

                   rating  runtime
Runtime Breakdown
Xshort                216      216
short                3395     3395
med                  2555     2555
long                  217      217
Xlong                  24       24
XXlong                  7        7